<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

    
    <header>
      <%- include('../partials/header', {variant: 'compact'}); %>
    </header>
    
    

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <div class="container">
        <form action="action_page.php">
          <link href="/css/main.css" rel="stylesheet" type="text/css">
      
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">

          <label for="email">Email</label>
          <input type="text"  name="Email" placeholder="Your Email..">
        
          <label for="subject">Message</label>
          <textarea id="subject" name="Message" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
      
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>My Contact Information: </h3>
      <p>Name           : Bhagyesh Bhavsar</p>
      <p>ID     : 301153525</p> 
      <p>Number : +1 437-985-0210</p> 
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
