<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

  <div class="jumbotron">
    <h3>Mission statement</h3>
    <p>My mission statement is to attain peace through spirituality.</p>
    <h3>You can find more about me here: </h3>
    <a href="/about">Link</a>
  </div>  

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
