<!DOCTYPE html>
<html lang="en">

<!---
  Name      : Bhagyesh Bhavsar
  Student ID: 301153525
  Course    : Web Application Development
-->


<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

    
<header>
    <%- include('../partials/header', {variant: 'compact'}); %>
</header>
    
    

<main>

<div class="jumbotron">
  <h1>Projects Completed so far:</h1>
  <h3>Bitracker</h3> 
  <img src="/images/bitracker.jpg" height="200" width="200">
  <p>It is a chrome extension for the crypto traders to let the users to interact with the top and reliable news right on their home screen.</p>
  <h3>C++ Cursor Control Library </h3>
  <img src="/images/Cursor.png" height="200" width="200"> 
  <p>Made a library from sctrach in c++ to have full and customized control over cursor at each instance of the screen.</p>
  <h3>Bus Ticket Management</h3>
  <img src="/images/bus.jpg" height="200" width="200">
  <p>Created a ticket management system to support the smaller routes with automating the system fully online.</p>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
